{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form action="./login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="hidden" name="token" value="{{ csrf }}">
        <input type="submit" value="Login" class="float-right">
    </form>     
{% endblock %}